@font-face {
  font-family: 'Dystopian';
  src: url('../fonts/Dystopian-Regular.eot?v=4.4.0');
  src: url('../fonts/Dystopian-Regular.eot?#iefix&v=4.4.0') format('embedded-opentype'), 
		url('../fonts/Dystopian-Regular.woff2?v=4.4.0') format('woff2'), 
		url('../fonts/Dystopian-Regular.woff?v=4.4.0') format('woff'), 
		url('../fonts/Dystopian-Regular.ttf?v=4.4.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

